<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <hr />
    <br /><br /><br />
    <h2>Total Users: <%= count%></h2>
    <br />
    <div>
      &nbsp;&nbsp;&nbsp;
      <button>
        <a href="/users/new">Create New Users</a>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button>
        <a href="/users">View All Users</a>
      </button>
    </div>
    <br />
    <br />
    <button>
      <a href="/users/insert/random">Insert 100 Random Users</a>
    </button>
  </body>
</html>
